.card-profile-image img {
    max-width: 100px;
    -webkit-box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
    box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
}

#athlete-profile {
    padding-top: 24px;
    margin-top: 20px;
}
.card-profile-stats {
    padding: none;
}

.card-profile-stats>div {
    margin-right: 0px;
}